:root {
    --base-size: 16px;
}

body, html {
    box-sizing: border-box;
    font-size: var(--base-size);
}

*, *:before, *:after {
    box-sizing: inherit;
}

#calculator {
    height: 300px;
    width: 150px;
    border: 1px solid black;
}

#number-pad {
    display: flex;
    flex-flow: row wrap-reverse;

    .number-btn {
        flex: 0 0 33%;
    }
}