:root {
    --base-size: 16px;
}

body, html {
    box-sizing: border-box;
    font-size: var(--base-size);
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}