:root {
    --base-size: 16px;
}

body, html {
    box-sizing: border-box;
    font-size: var(--base-size);
}

*, *:before, *:after {
    box-sizing: inherit;
}

#calculator {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-flow: column nowrap;

    #calculator-display {
        flex: 1 1 20%;
        text-align: right;

    }
}

#number-pad {
    flex: 1 1 80%;
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: stretch;

    .number-btn {
        flex: 0 0 33%;
        
        &.zero {
            flex: 0 0 66%;
        }
    }

    #decimal-btn {
        flex: 0 0 33%;
        &.error {
            border-color: red;
        }

        &.pending {
            border-color: blue;
        }
    }
}